Repository OpenMW/openmw, pull requests merged in 2020-05, with the labels that each got.

#2783 Refactor InputManager
  apps/openmw/CMakeLists.txt
  apps/openmw/engine.cpp
  apps/openmw/mwbase/inputmanager.hpp
  apps/openmw/mwbase/windowmanager.hpp
  apps/openmw/mwgui/windowmanagerimp.cpp
  apps/openmw/mwgui/windowmanagerimp.hpp
  apps/openmw/mwinput/actionmanager.cpp
  apps/openmw/mwinput/actionmanager.hpp
  apps/openmw/mwinput/actions.hpp
  apps/openmw/mwinput/bindingsmanager.cpp
  apps/openmw/mwinput/bindingsmanager.hpp
  apps/openmw/mwinput/controllermanager.cpp
  apps/openmw/mwinput/controllermanager.hpp
  apps/openmw/mwinput/controlswitch.cpp
  apps/openmw/mwinput/controlswitch.hpp
  apps/openmw/mwinput/inputmanagerimp.cpp
  apps/openmw/mwinput/inputmanagerimp.hpp
  apps/openmw/mwinput/keyboardmanager.cpp
  apps/openmw/mwinput/keyboardmanager.hpp
  apps/openmw/mwinput/mousemanager.cpp
  apps/openmw/mwinput/mousemanager.hpp
  apps/openmw/mwinput/sdlmappings.cpp
  apps/openmw/mwinput/sdlmappings.hpp
  apps/openmw/mwinput/sensormanager.cpp
  apps/openmw/mwinput/sensormanager.hpp
  components/CMakeLists.txt
  components/sdlutil/OISCompat.hpp
  components/sdlutil/events.hpp
  components/sdlutil/sdlinputwrapper.cpp
  components/sdlutil/sdlinputwrapper.hpp
Labels: Discussion, Needs testing

#2648 Allow targeting non-unique actors with StartScript. Fixes #2311
  CHANGELOG.md
  apps/openmw/mwbase/scriptmanager.hpp
  apps/openmw/mwbase/world.hpp
  apps/openmw/mwscript/globalscripts.cpp
  apps/openmw/mwscript/globalscripts.hpp
  apps/openmw/mwscript/interpretercontext.cpp
  apps/openmw/mwscript/interpretercontext.hpp
  apps/openmw/mwscript/scriptmanagerimp.cpp
  apps/openmw/mwscript/scriptmanagerimp.hpp
  apps/openmw/mwworld/cells.cpp
  apps/openmw/mwworld/cells.hpp
  apps/openmw/mwworld/cellstore.cpp
  apps/openmw/mwworld/cellstore.hpp
  apps/openmw/mwworld/worldimp.cpp
  apps/openmw/mwworld/worldimp.hpp
  components/esm/globalscript.cpp
  components/esm/globalscript.hpp
  components/esm/savedgame.cpp
  components/interpreter/context.hpp
  components/interpreter/scriptopcodes.hpp
Labels: Saved game format

#2049 Support bullet double precision
  CI/before_script.msvc.sh
  apps/openmw/mwphysics/heightfield.cpp
  apps/openmw/mwphysics/heightfield.hpp
  apps/openmw_test_suite/detournavigator/operators.hpp
  apps/openmw_test_suite/detournavigator/recastmeshbuilder.cpp
  apps/openmw_test_suite/nifloader/testbulletnifloader.cpp
  appveyor.yml
  components/detournavigator/recastmeshbuilder.cpp
Labels: Needs testing

#2845 Optimize characters data in savegame
  components/esm/creaturestats.cpp
  components/esm/creaturestats.hpp
  components/esm/inventorystate.cpp
  components/esm/npcstats.cpp
  components/esm/savedgame.cpp
Labels: Saved game format

#2528 Use real time to update spell effects
  CHANGELOG.md
  apps/openmw/mwmechanics/activespells.cpp
  apps/openmw/mwmechanics/activespells.hpp
  apps/openmw/mwmechanics/actors.cpp
  apps/openmw/mwmechanics/spellcasting.cpp
  components/esm/activespells.cpp
  components/esm/activespells.hpp
  components/esm/savedgame.cpp
Labels: Needs testing, Saved game format
